<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="glimpse" type="Glimpse.Core.Configuration.Section, Glimpse.Core"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <!-- Authentication -->
    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Login.aspx" defaultUrl="~/Pages/Index.aspx" timeout="2880"/>
    </authentication>
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider" type="PMAWeb.Authentication.CustomMembershipProvider" applicationName="PMAServer"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="CustomRoleProvider"
                 cacheRolesInCookie="true"
                 cookieName="RoleCookie"
                 cookiePath="/"
                 cookieTimeout="20"
                 cookieSlidingExpiration="true">
      <providers>
        <clear/>
        <add name="CustomRoleProvider" type="PMAWeb.Authentication.CustomRoleProvider" applicationName="PMAServer"/>
      </providers>
    </roleManager>
    <!-- End Authentication -->
    <trace writeToDiagnosticsTrace="true" enabled="true" pageOutput="false"/>
    <httpModules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet"/>
    </httpModules>
    <httpHandlers>
      <add path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet"/>
    </httpHandlers>
  </system.web>
  <!-- Glimpse Configuration -->
  <glimpse defaultRuntimePolicy="On" endpointBaseUri="~/Glimpse.axd">
  </glimpse>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="Glimpse" type="Glimpse.AspNet.HttpModule, Glimpse.AspNet" preCondition="integratedMode"/>
    </modules>
    <handlers>
      <add name="Glimpse" path="glimpse.axd" verb="GET" type="Glimpse.AspNet.HttpHandler, Glimpse.AspNet" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <!-- End Glimpse Configuration -->
</configuration>