<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <authentication mode="Forms">
      <forms loginUrl="~/Pages/Login.aspx" defaultUrl="~/Pages/Index.aspx" timeout="2880" />
    </authentication>


    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="CustomMembershipProvider"
            type="PMAWeb.Tool.CustomMembershipProvider"
            applicationName="PMAServer" />
      </providers>
    </membership>
  </system.web>
</configuration>
