<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="PMAInfrastructure.Properties.Settings.PMA_TESTConnectionString"
            connectionString="Data Source=FR-L2259214\SQLEXPRESS;Initial Catalog=PMA_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PMAInfrastructure.Properties.Settings.PMA_TSTConnectionString"
            connectionString="Data Source=JASON\SQLEXPRESS;Initial Catalog=PMA_TST;Persist Security Info=True;User ID=pma-usr"
            providerName="System.Data.SqlClient" />
        <add name="PMAInfrastructure.Properties.Settings.PMA_TSTConnectionString1"
            connectionString="Data Source=JASON\SQLEXPRESS;Initial Catalog=PMA_TST;Persist Security Info=True;User ID=pma-usr;Password=1fwaLtzj"
            providerName="System.Data.SqlClient" />-->
        <add name="PMAInfrastructure.Properties.Settings.PMA_TESTConnectionString1"
            connectionString="Data Source=JASON\SQLEXPRESS;Initial Catalog=PMA_TEST;User ID=pma-usr;Password=1fwaLtzj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>