<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PMAInfrastructure.Properties.Settings.PMA_TESTConnectionString"
            connectionString="Data Source=JASON\SQLEXPRESS;Initial Catalog=PMA_TEST;Persist Security Info=True;User ID=pma-usr;Password=1fwaLtzj"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>